@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Valley Sans", Arial, sans-serif;

  --color-primary: #3368A0;
  --color-secondary: #66A3BF;
  --color-accent: #C8DFDB;
  --color-surface: #F2EFE7;
  --color-surface-alt: #F9FAFB;
  --color-white: #FFFFFF;
  --color-text: #363738;
  --color-muted: #475569;
  --color-success: #2F7D32;
  --color-dark: #1F2D3D;
}

